.box {
  background-color: #ffb602;
  border: 1px solid;
  padding: 20px 40px;
}

.wrapper {
  display: flex;
}

#flexbox-02 {
  .wrapper {
    justify-content: space-between;
  }
}

#flexbox-03 {
  .box {
    flex-grow: 1;
  }
}

#flexbox-04 {
  .wrapper {
    flex-wrap: wrap;
  }
  .box {
    width: 50%;
  }
}

#flexbox-05 {
  .wrapper {
    flex-direction: column;
    align-items: flex-end;
  }
}

#flexbox-06 {
  .wrapper {
    justify-content: space-around;
    padding: 108px 10px;
  }
}
